<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="site.css"/>
    </head>
    <body class="blank" style="overflow-y:hidden; ">
        <div class="wrapper">
            <section class="content" style="margin:0px; padding:0px;">
				<div class="container-center animated slideInDown centerbox">
					<div class="container-cener centerbox">
						<div class="panel panel-filled">
							<div class="panel-body">
								<div class="form-group">
                                    <% if (!user) { %>
    									<center><label class="crontrol-label" for="login">Login</label></center>
                                         <form id="loginForm" role="form" method="POST" action="/">
                                            <div class="form-group ">
                                                <label class="control-label" for="username">Username</label>
                                                <input type="text" placeholder="" required="" value="" name="username" class="form-control">
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label" for="password">Password</label>
                                                <input type="password" placeholder="" required="" value="" name="password" class="form-control">
                                            </div>
                                            <div class="row">
                                                    <div>
                                                    <center>
                                                        <input type="submit" value="Login"/>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    <% } else { %>
                                        <center><label class="crontrol-label" for="User"><%= user.username %> Logged In</label></center>
                                    <% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="particles_full" id="particles-js"></div>
            </section>
        </div>
        <script src="background.min.js"></script>
    </body>
</html>
