<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shell</title>
        <link rel="stylesheet" href="/site.css"/>
    </head>
    <body class="blank" style="overflow-y:hidden; ">
        <div class="wrapper">
            <section class="content" style="margin:0px; padding:0px;">
				<div class="container-center animated slideInDown centerbox">
					<div class="container-cener centerbox">
						<div class="panel panel-filled">
							<div class="panel-body">
								<div class="form-group">
                                    <center><label class="crontrol-label" for="User"><%= user.username %> Logged In</label></center>
				    <center><label class="crontrol-label" for="files"><a href="/files">Files</a></label></center>
                                    <center><label class="crontrol-label" for="logout"><a href="/logout">Log Out</a></label></center>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="particles_full" id="particles-js"></div>
            </section>
        </div>
        <script src="/background.min.js"></script>
        <script defer src="/shell.js"></script>
    </body>
</html>
