set -g prompt "%grn %L > %blu %D > %yel %S  %J"
set -g PromptChar " %yel%clr "

load alias
alias s "sessions -i"
alias j "jobs -l"

alias win_payload "resource /root/.msf4/winpay.rc"
alias lin_payload "resource /root/.msf4/linpay.rc"
alias osx_payload "resource /root/.msf4/osxpay.rc"
alias make-https "resource /root/.msf4/https.rc"
alias make-nc "resource /root/.msf4/nc-listen.rc"

set -g ExitOnSession false
