set -g prompt "%whi    %grn%H  %blu %D  %yel %S  %J"
set -g PromptChar " %whi%clr"

load alias
alias s "sessions -i"
alias j "jobs -l"

alias win_payload "resource /root/.msf4/winpay.rc"
alias lin_payload "resource /root/.msf4/linpay.rc"
alias osx_payload "resource /root/.msf4/osxpay.rc"
alias android_payload "resource /root/.msf4/andpay.rc"
alias gen-https "resource /root/.msf4/gen-https.rc"
alias listen-nc "resource /root/.msf4/listen-nc.rc"
alias listen-https "resource /root/.msf4/listen-https.rc"
alias listen-http "resource /root/.msf4/listen-http.rc"
alias backup "resource /root/.msf4/backup.rc"

set -g ExitOnSession false
